body {
  min-width: 250px;
  height: 100000px;
}

#nav-bar {
  background: white;
}

#nav-bar div:link{
  color: black;
}
#nav-bar div:hover{
  text-decoration: underline;
}
.top-section {
  height: 150px;
  background: white;
}
#google-logo {
  padding:50px 0 10px 0;
}
#logo {

max-width: 250px;
}
#s-box {
  width: 500px;
  margin: 0 auto;
}
#search-box-area {
  font-weight:bold;
  padding-bottom: 150px;
}

#bot-navbar {
  background: #dcdee2;
}
