body {
  min-width: 250px;
  height: 100%;
}

#nav-bar {
  background: white;
  text-align: right;
}

#nav-bar div:link{
  color: black;
}
#nav-bar div:hover{
  text-decoration: underline;
}
#sign-in {
  width: 75px;
  font-weight: bold;
  background-color: #4286f4;
  color: white;
}
#sign-in:hover {
  cursor: pointer;
}
.top-section {
  height: 150px;
  background: white;
}
#google-logo {
  padding:50px 0 10px 0;
}
#logo {

max-width: 250px;
}
#s-box {
  width: 500px;
  margin: 0 auto;
}
button {
  margin-top: 30px;
  width: 175px;
  height:40px;
}

#search-box-area {
  font-weight:bold;
  padding-bottom: 150px;
}

/*#bot-navbar {
  background: #dcdee2;
  position: fixed;
  bottom: 0;
}*/
